@media (max-width: 500px) {

.modalBox {
  padding: 25px 15px;
}

.modalBox .form-group-input,
.modalBox .btn,
#emailInputAlert,
#usernameInputAlert,
#passwordInputAlert {
  width: 230px;
}

  #welcome-box h1 {
    font-size: 28px;
  }
}