@media (max-width: 991px) {

  .modalBox,
  #signUpBox {
    width: 300px;
    padding: 10px;
  }

  .modalBox .form-group input {
    width: 70%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #usernameInputAlert {
    width: 70%;
    font-size: 14px;
  }

  #welcome-box {
    width: 250px;
    height: 100px;
  }

  #welcome-box h1 {
    font-size: 28px;
  }
}